.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws22{word-spacing:-1.344100px;}
.ws1{word-spacing:-0.588900px;}
.ws1e{word-spacing:-0.365652px;}
.ws24{word-spacing:-0.258576px;}
.ws27{word-spacing:-0.054500px;}
.ws0{word-spacing:0.000000px;}
.ws25{word-spacing:0.313500px;}
.ws6{word-spacing:0.391500px;}
.ws21{word-spacing:0.731208px;}
.wsc{word-spacing:0.997252px;}
.ws31{word-spacing:1.205908px;}
.ws7{word-spacing:1.280908px;}
.ws3{word-spacing:1.369500px;}
.ws29{word-spacing:1.886656px;}
.ws2e{word-spacing:2.036908px;}
.ws1c{word-spacing:2.200500px;}
.ws28{word-spacing:2.292808px;}
.wsd{word-spacing:2.321036px;}
.ws1a{word-spacing:2.696908px;}
.ws20{word-spacing:2.809732px;}
.ws10{word-spacing:2.936384px;}
.ws30{word-spacing:3.055876px;}
.ws19{word-spacing:3.173560px;}
.wsb{word-spacing:3.382040px;}
.ws13{word-spacing:3.942752px;}
.ws1b{word-spacing:4.253252px;}
.ws2a{word-spacing:4.267876px;}
.ws2f{word-spacing:4.383900px;}
.ws18{word-spacing:4.518752px;}
.ws2{word-spacing:4.529320px;}
.ws9{word-spacing:4.563100px;}
.wsa{word-spacing:4.607896px;}
.wse{word-spacing:5.180192px;}
.ws2d{word-spacing:5.574752px;}
.ws2b{word-spacing:5.596148px;}
.ws5{word-spacing:5.993500px;}
.ws8{word-spacing:6.041908px;}
.ws16{word-spacing:6.092192px;}
.ws23{word-spacing:6.371908px;}
.ws26{word-spacing:6.431900px;}
.ws1f{word-spacing:7.387876px;}
.ws1d{word-spacing:7.491580px;}
.ws2c{word-spacing:7.945500px;}
.ws11{word-spacing:8.082348px;}
.ws14{word-spacing:8.893608px;}
.wsf{word-spacing:9.068192px;}
.ws4{word-spacing:9.268228px;}
.ws15{word-spacing:10.172700px;}
.ws12{word-spacing:11.375876px;}
.ws17{word-spacing:12.702752px;}
._d{width:603.821260px;}
._3{width:669.101260px;}
._0{width:699.821260px;}
._8{width:737.213260px;}
._5{width:775.805260px;}
._2{width:793.133260px;}
._1{width:805.133260px;}
._c{width:841.133260px;}
._4{width:853.133260px;}
._7{width:855.821260px;}
._6{width:863.789260px;}
._a{width:867.821260px;}
._b{width:870.461260px;}
._9{width:886.493260px;}
._e{width:1080.850520px;}
.fc4{color:transparent;}
.fc0{color:rgb(0,64,255);}
.fc1{color:rgb(0,0,0);}
.fc2{color:rgb(255,255,255);}
.fc3{color:rgb(70,101,162);}
.fs5{font-size:4.000000px;}
.fs0{font-size:40.000000px;}
.fs2{font-size:48.000000px;}
.fs4{font-size:64.000000px;}
.fs3{font-size:70.400000px;}
.fs1{font-size:96.000000px;}
.y4f{bottom:1.225000px;}
.y18{bottom:27.101102px;}
.y2{bottom:38.832206px;}
.y0{bottom:42.000000px;}
.y17{bottom:77.852151px;}
.y3b{bottom:80.874546px;}
.y16{bottom:94.652152px;}
.y3a{bottom:97.674547px;}
.y39{bottom:114.474548px;}
.y38{bottom:131.274548px;}
.y37{bottom:148.074549px;}
.y36{bottom:164.874549px;}
.y35{bottom:181.674549px;}
.y4e{bottom:181.674551px;}
.y34{bottom:198.474550px;}
.y33{bottom:215.274550px;}
.y4d{bottom:215.274552px;}
.y32{bottom:232.074551px;}
.y31{bottom:248.874551px;}
.y4c{bottom:255.618552px;}
.y30{bottom:265.674552px;}
.y2f{bottom:282.474553px;}
.y4b{bottom:299.274551px;}
.y4a{bottom:316.074552px;}
.y2e{bottom:322.818553px;}
.y49{bottom:332.874553px;}
.y48{bottom:349.674554px;}
.y15{bottom:351.914554px;}
.y2d{bottom:366.474552px;}
.y14{bottom:368.714555px;}
.y2c{bottom:383.274553px;}
.y13{bottom:385.514556px;}
.y47{bottom:390.018554px;}
.y2b{bottom:400.074553px;}
.y12{bottom:402.314557px;}
.y2a{bottom:416.874554px;}
.y11{bottom:419.114558px;}
.y29{bottom:433.674554px;}
.y10{bottom:435.914558px;}
.y28{bottom:450.474555px;}
.yf{bottom:452.714559px;}
.y27{bottom:467.274556px;}
.ye{bottom:469.514560px;}
.y46{bottom:484.074555px;}
.yd{bottom:486.314561px;}
.y45{bottom:500.874556px;}
.yc{bottom:503.114562px;}
.y26{bottom:507.618556px;}
.y44{bottom:517.674557px;}
.yb{bottom:519.914563px;}
.y43{bottom:534.474557px;}
.ya{bottom:536.714564px;}
.y25{bottom:551.274555px;}
.y42{bottom:551.274558px;}
.y9{bottom:553.514565px;}
.y24{bottom:568.074556px;}
.y41{bottom:568.074559px;}
.y8{bottom:570.314566px;}
.y23{bottom:584.874557px;}
.y40{bottom:584.874560px;}
.y7{bottom:588.804966px;}
.y22{bottom:601.674558px;}
.y3f{bottom:601.674560px;}
.y21{bottom:618.474559px;}
.y3e{bottom:618.474561px;}
.y6{bottom:628.554567px;}
.y20{bottom:635.274560px;}
.y3d{bottom:635.274562px;}
.y5{bottom:645.354568px;}
.y1f{bottom:652.074561px;}
.y3c{bottom:652.074563px;}
.y4{bottom:662.154569px;}
.y1e{bottom:668.874562px;}
.y1d{bottom:685.674563px;}
.y1c{bottom:702.474564px;}
.y3{bottom:702.990568px;}
.y1b{bottom:719.274565px;}
.y1a{bottom:736.074566px;}
.y19{bottom:752.874566px;}
.y1{bottom:765.354567px;}
.h8{height:4.158203px;}
.h3{height:41.582031px;}
.h5{height:49.898438px;}
.h7{height:67.562500px;}
.h6{height:74.318750px;}
.h2{height:76.535433px;}
.h4{height:101.343750px;}
.h1{height:786.000000px;}
.h0{height:841.890000px;}
.w1{width:511.500000px;}
.w0{width:595.276000px;}
.x1{left:0.000000px;}
.x8{left:2.835000px;}
.x0{left:42.000000px;}
.x4{left:45.354685px;}
.x6{left:48.189685px;}
.x7{left:81.354685px;}
.x3{left:145.548500px;}
.x5{left:250.997300px;}
.x2{left:291.968504px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws22{word-spacing:-1.792133pt;}
.ws1{word-spacing:-0.785200pt;}
.ws1e{word-spacing:-0.487536pt;}
.ws24{word-spacing:-0.344768pt;}
.ws27{word-spacing:-0.072667pt;}
.ws0{word-spacing:0.000000pt;}
.ws25{word-spacing:0.418000pt;}
.ws6{word-spacing:0.522000pt;}
.ws21{word-spacing:0.974944pt;}
.wsc{word-spacing:1.329669pt;}
.ws31{word-spacing:1.607877pt;}
.ws7{word-spacing:1.707877pt;}
.ws3{word-spacing:1.826000pt;}
.ws29{word-spacing:2.515541pt;}
.ws2e{word-spacing:2.715877pt;}
.ws1c{word-spacing:2.934000pt;}
.ws28{word-spacing:3.057077pt;}
.wsd{word-spacing:3.094715pt;}
.ws1a{word-spacing:3.595877pt;}
.ws20{word-spacing:3.746309pt;}
.ws10{word-spacing:3.915179pt;}
.ws30{word-spacing:4.074501pt;}
.ws19{word-spacing:4.231413pt;}
.wsb{word-spacing:4.509387pt;}
.ws13{word-spacing:5.257003pt;}
.ws1b{word-spacing:5.671003pt;}
.ws2a{word-spacing:5.690501pt;}
.ws2f{word-spacing:5.845200pt;}
.ws18{word-spacing:6.025003pt;}
.ws2{word-spacing:6.039093pt;}
.ws9{word-spacing:6.084133pt;}
.wsa{word-spacing:6.143861pt;}
.wse{word-spacing:6.906923pt;}
.ws2d{word-spacing:7.433003pt;}
.ws2b{word-spacing:7.461531pt;}
.ws5{word-spacing:7.991333pt;}
.ws8{word-spacing:8.055877pt;}
.ws16{word-spacing:8.122923pt;}
.ws23{word-spacing:8.495877pt;}
.ws26{word-spacing:8.575867pt;}
.ws1f{word-spacing:9.850501pt;}
.ws1d{word-spacing:9.988773pt;}
.ws2c{word-spacing:10.594000pt;}
.ws11{word-spacing:10.776464pt;}
.ws14{word-spacing:11.858144pt;}
.wsf{word-spacing:12.090923pt;}
.ws4{word-spacing:12.357637pt;}
.ws15{word-spacing:13.563600pt;}
.ws12{word-spacing:15.167835pt;}
.ws17{word-spacing:16.937003pt;}
._d{width:805.095013pt;}
._3{width:892.135013pt;}
._0{width:933.095013pt;}
._8{width:982.951013pt;}
._5{width:1034.407013pt;}
._2{width:1057.511013pt;}
._1{width:1073.511013pt;}
._c{width:1121.511013pt;}
._4{width:1137.511013pt;}
._7{width:1141.095013pt;}
._6{width:1151.719013pt;}
._a{width:1157.095013pt;}
._b{width:1160.615013pt;}
._9{width:1181.991013pt;}
._e{width:1441.134027pt;}
.fs5{font-size:5.333333pt;}
.fs0{font-size:53.333333pt;}
.fs2{font-size:64.000000pt;}
.fs4{font-size:85.333333pt;}
.fs3{font-size:93.866667pt;}
.fs1{font-size:128.000000pt;}
.y4f{bottom:1.633333pt;}
.y18{bottom:36.134803pt;}
.y2{bottom:51.776275pt;}
.y0{bottom:56.000000pt;}
.y17{bottom:103.802868pt;}
.y3b{bottom:107.832728pt;}
.y16{bottom:126.202869pt;}
.y3a{bottom:130.232729pt;}
.y39{bottom:152.632731pt;}
.y38{bottom:175.032731pt;}
.y37{bottom:197.432732pt;}
.y36{bottom:219.832732pt;}
.y35{bottom:242.232732pt;}
.y4e{bottom:242.232735pt;}
.y34{bottom:264.632733pt;}
.y33{bottom:287.032733pt;}
.y4d{bottom:287.032736pt;}
.y32{bottom:309.432735pt;}
.y31{bottom:331.832735pt;}
.y4c{bottom:340.824736pt;}
.y30{bottom:354.232736pt;}
.y2f{bottom:376.632737pt;}
.y4b{bottom:399.032735pt;}
.y4a{bottom:421.432736pt;}
.y2e{bottom:430.424737pt;}
.y49{bottom:443.832737pt;}
.y48{bottom:466.232739pt;}
.y15{bottom:469.219405pt;}
.y2d{bottom:488.632736pt;}
.y14{bottom:491.619407pt;}
.y2c{bottom:511.032737pt;}
.y13{bottom:514.019408pt;}
.y47{bottom:520.024739pt;}
.y2b{bottom:533.432737pt;}
.y12{bottom:536.419409pt;}
.y2a{bottom:555.832739pt;}
.y11{bottom:558.819411pt;}
.y29{bottom:578.232739pt;}
.y10{bottom:581.219411pt;}
.y28{bottom:600.632740pt;}
.yf{bottom:603.619412pt;}
.y27{bottom:623.032741pt;}
.ye{bottom:626.019413pt;}
.y46{bottom:645.432740pt;}
.yd{bottom:648.419415pt;}
.y45{bottom:667.832741pt;}
.yc{bottom:670.819416pt;}
.y26{bottom:676.824741pt;}
.y44{bottom:690.232743pt;}
.yb{bottom:693.219417pt;}
.y43{bottom:712.632743pt;}
.ya{bottom:715.619419pt;}
.y25{bottom:735.032740pt;}
.y42{bottom:735.032744pt;}
.y9{bottom:738.019420pt;}
.y24{bottom:757.432741pt;}
.y41{bottom:757.432745pt;}
.y8{bottom:760.419421pt;}
.y23{bottom:779.832743pt;}
.y40{bottom:779.832747pt;}
.y7{bottom:785.073288pt;}
.y22{bottom:802.232744pt;}
.y3f{bottom:802.232747pt;}
.y21{bottom:824.632745pt;}
.y3e{bottom:824.632748pt;}
.y6{bottom:838.072756pt;}
.y20{bottom:847.032747pt;}
.y3d{bottom:847.032749pt;}
.y5{bottom:860.472757pt;}
.y1f{bottom:869.432748pt;}
.y3c{bottom:869.432751pt;}
.y4{bottom:882.872759pt;}
.y1e{bottom:891.832749pt;}
.y1d{bottom:914.232751pt;}
.y1c{bottom:936.632752pt;}
.y3{bottom:937.320757pt;}
.y1b{bottom:959.032753pt;}
.y1a{bottom:981.432755pt;}
.y19{bottom:1003.832755pt;}
.y1{bottom:1020.472756pt;}
.h8{height:5.544271pt;}
.h3{height:55.442708pt;}
.h5{height:66.531250pt;}
.h7{height:90.083333pt;}
.h6{height:99.091667pt;}
.h2{height:102.047244pt;}
.h4{height:135.125000pt;}
.h1{height:1048.000000pt;}
.h0{height:1122.520000pt;}
.w1{width:682.000000pt;}
.w0{width:793.701333pt;}
.x1{left:0.000000pt;}
.x8{left:3.780000pt;}
.x0{left:56.000000pt;}
.x4{left:60.472913pt;}
.x6{left:64.252913pt;}
.x7{left:108.472913pt;}
.x3{left:194.064667pt;}
.x5{left:334.663067pt;}
.x2{left:389.291339pt;}
}
